body {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 10vh 0 10vh;
    padding: 10px;
    text-align: center;
    background-color: white;
}

header {
    text-transform: uppercase;
    color: darkblue;
}

.artist, .title {
    font-weight: bold;
}

.artist {
    font-size: 20px;
}